{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annotation</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        const photoObjectsDict = JSON.parse('{{ photo_objects_dict|escapejs }}');
    </script>
</head>
<body>
    <div class="container-wrapper">
        <div class="objects_wrapper">
            <h3>Objects:</h3>
            <div id="objects_container"></div>
        </div>
        <ul class="photo-container">
            <h2>Photos:</h2>
            {% for photo in customer_photos %}
                {% if forloop.first %}
                <li><img src="{{ photo.image.url }}" alt="Photo" class="photo selected" photo-id="{{ photo.id }}" onclick="selectPhoto(this)"></li>
                {% else %}
                <li><img src="{{ photo.image.url }}" alt="Photo" class="photo" photo-id="{{ photo.id }}" onclick="selectPhoto(this)"></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div id="current_image_container">
            <canvas id="annotation_canvas"></canvas>
        </div>
        <div class="annotation_wrapper">
            <h2>Annotations</h2>
            <div id="annotation_container"></div>
        </div>
        <div id="message_container"></div>
        
    </div>
    <button type="button" id="submit-button">Submit</button>
    <button type="button" id="reset-button">Reset</button>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>