{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="login" id="login">Login</a>
        <a href="register" id="register">Register Now</a>
    </div>

    <h1>Photo Annotation Tool</h1>
    
</body>
</html>