{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Customer: {{ customer.username }}</h1>
    <h2>Photos:</h2>
    <div class="container-wrapper">
        <ul class="photo-container">
        {% for photo in customer_photos %}
            {% if forloop.first %}
            <li><img src="{{ photo.image.url }}" alt="Photo" class="photo selected" onclick="selectPhoto(this)"></li>
            {% else %}
            <li><img src="{{ photo.image.url }}" alt="Photo" class="photo" onclick="selectPhoto(this)"></li>
            {% endif %}
        {% endfor %}
        </ul>
        <div id="current_image_container">
            <canvas id="annotation_canvas"></canvas>
        </div>
    </div>
        
    <script src="{% static 'script.js' %}"></script>
</body>
</html>