{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'annotate' %}">Annotate</a>
    <div class="upload-container">
        <h1>Upload an image</h1>
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>