{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-container">
        <div class="topnav">
            <a href="/">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="" class="active" id="register">Register Now</a>
        </div>
        <h1>Create an Account</h1>
        <form method = "Post">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit">Submit</button>
        </form>
        <div>Already have an account? Log in <a href="{% url 'login' %}">here</a></div>
    </div>  
</body>
</html>