.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#register {
    float: right;
}

#login {
    float: right;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.form-container {
    text-align: center;
}

.upload-container {
    text-align: center;
}

.container-wrapper {
    display: flex;
    justify-content: space-between; /* Distribute items evenly with even spacing */
}

.photo {
    width: 200px; /* Ensure the image width occupies the entire container width */
    height: 200px; /* Allow the height to adjust based on the image's aspect ratio */
}

.photo-container {
    max-width: 250px; /* Minimum width for the container */
    max-height: 500px; /* Minimum height for the container */
    align-items: center; /* Center the image vertically */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
}

.photo-container li {
    list-style: none;
}

.photo:hover {
    border: 2px solid black; /* Black border when hovering over the image */
}

.photo.selected {
    border: 2px;
    width: 200px; /* Ensure the image width occupies the entire container width */
    height: 200px; /* Allow the height to adjust based on the image's aspect ratio */
}

.photo.selected:hover {
    border: 2px solid black; /* Black border when hovering over the image */
}

#current_image_container {
    padding-top: 50px;
}

#annotation_canvas {
    border: 1px solid black;
    width: 900px;
    height: 600px;
}

#annotated_image_container {
    width: 300px;
    height: auto;
}

#message_container {
    position: fixed; /* Position the container relative to the viewport */
    text-align: center; /* Center-align text within the container */
    bottom: 0; /* Positions it at the bottom of the viewport */
    left: 0; /* Aligns it to the left */
    width: 100%; /* Takes full width of the viewport */
    max-height: 20%; /* Limits the height to 20% of the viewport */
    overflow-y: auto; /* Adds vertical scroll if content overflows */
    background-color: #f8f9fa; /* Light background color */
    border-top: 1px solid #dee2e6; /* Top border for separation */
    padding: 10px; /* Padding for spacing inside the container */
    box-sizing: border-box; /* Includes padding and border in element's total width and height */
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.objects_wrapper {
    width: 100%; /* Ensure wrapper takes full width of the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

#objects_container { 
    width: 250px; /* Fixed width for the container */
    height: 100px; /* Fixed height for the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
}

#annotation_container {
    width: 250px; /* Fixed width for the container */
    height: 750px; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
}